
body{
    margin: 0;
}

/* Header */
.debug header{
    background-color: #add8e6;
    height: 50px;
}

.debug #logo,nav,#login{
    background-color: #daa520;
    height: 60%;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* header > *{
    vertical-align: auto;
} */

/* Main */

main{
    display: flex;
    flex-wrap: wrap;
}

.debug main *{
    height: 300px;
    width: 100%;
}

.debug .main_header{
    background-color: #00008bFF;
}

.debug #section2, .main_footer{
    background-color: #d3d3d3FF;
}

.debug .main_header>aside{
    background-color: #ee82eeFF;
    width: 50%;
    height: 80%;
    border: 1px dashed black;
}

.main_header>aside{
    align-self: center;
}

.main_header{
    display: flex;
    justify-content: center;
}

section{
    display: flex;
    justify-content: center;
}

.debug div.picture_box{
    background-color: #1e90ffFF;
    height: 80%;
    width: 45%;
    align-self: center;
    border: 1px dashed black;
}

.debug aside.text_box{
    background-color: #ffc0cbFF;
    height: 80%;
    width: 30%;
    align-self: center;
    border: 1px dashed black;
}

.debug div.main_footer{
    height: 500px;
}

div.main_footer{
    display: flex;
    justify-content: center;
}

.debug aside.main_footer{
    height: 90%;
    width: 75%;
    background-color: #228b22FF;
    border: 1px dashed black;
}

aside.main_footer{
    align-self: center;
}









/* TESTO DA CENTRARE NEI FIGLI DI HEADER
PERCHÈ ALIGN-CONTENT NON FUNZIONA? */

